
    <head>
        <title>index</title>
        <meta charset="uft-8"/>
        <meta name="description" content=""/>
        <Link rel="shortcut icon" type="image/x-icon" href="public/Chefhat.png"></Link>
    
        <div style="float:left;margin-left: 32px;">
            <a href="Index" ><img src="public/Chefhat.png" alt="Logo til main" width="128" height="128" ></a>
        </div>
        <div style="width:auto; height:128px ;text-align:center; margin-top: 32px; font-size: 48px;">
            <h1><b>Fridge App</b></h1><br>
        </div>

    </head>
