<div class="sidebar open">

  <div class="logo">
      <li><a href="/"><img src="img/Chefhat.png" alt="..."></a></li>
      <h3>Kategorier</h3>
  </div>

  <nav>
      <ul>

          <li class="nav-item active">
              <a href="/"><img src="img/news.png" alt="news"width="18"><span>Forside</span></a>
              
          </li>
          <li class="nav-item">
              <a href="/"><img src="img/news.png" alt="news"width="18"><span>Nyheder</span></a>
              
          </li>
          <li class="nav-item">
              <a href="/kategorier"><img src="img/fridge.png" alt="kat" width="18" ><span>Kategorier</span></a>
              
          </li>
          <li class="nav-item">
              <a href="/opskrifter"><img src="img/Pot.png" alt="news"width="18"><span>Opskrifter</span></a>
              
          </li>
          <li class="nav-item">
              <a href=""><img src="img/news.png" alt="news"width="18"><span>Bruger</span></a>
              
          </li>
      </ul>
  </nav>
  <footer>
    Copyright &copy; Datamatiker 3.Semester gruppe C
</footer>
</div> 