<nav>
    <div class="site-title">
      <a href="/">
        <h1>FoodCheck</h1></a>
      <p>FoodCheck</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#/login">Login</a></li>
      <li><a href="#/opskrifter">Opskrifter</a></li>
    </ul>
  </nav>