<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/opskrifter">Opskrifter</a></li>
      <li><a href="/kategorier">kategorier</a></li>
    </ul>
</nav>