<html lang="en">
 <head>
  <link rel="stylesheet" href="styles.css">
    <%-  src="code.js" %>
 </head> 
<body>
  <div class="create-blog content">
    <form id="form" >
      <label >Fødevare:</label>
      <input type="food" id="food" name="food">
      <label>Kategori:</label>
      <input type="kategori" id="kategori" name="kategori">
      <label>Placering:</label>
      <input type="location" id="location" name="location">
      <label>Udløbsdato:</label>
      <input type="expire" id="expire" name="expire">
      <input type="button" id="knap" onclick="createBlogFunktion();">Klik her</input>
    </form>
  </div>

</body>
</html>