<html lang="en">
<head>

    <%- include('./partials/head.ejs')  %> 

    <%- include('./partials/nav.ejs')  %> 

    <script src="/public/code.js"></script>
   
</head>
<body>
  <div class="newsIndhold"> 
  <h1>Velkommen til kategorier</h1>

  <div class="create-blog content">
    <form id="form" >
      <label >Fødevare:</label>
      <input type="title" id="title" name="title">
      <label>Kategori:</label>
      <input type="author" id="author" name="author">
  
      <input type="button" id="knap"  onclick= createBlogFunktion();>Klik her</input>
    </form>
  </div>

<!--Tabel fra DB-->

<% if (kategorier.length > 0) { %>
<table>
  <tr>
    <% kategorier.forEach(kat => { %>
      <th class="gruppe"><%= kat.gruppe %></th>
    <% }) %>
  </tr>
  <tr>
  <% kategorier.forEach(kat => { %>
    <td class="vare"><%= kat.vare %></td>
  <% }) %>
</tr>
</table>
<% } else { %>
  <p>Der er ingen vare på hylderne...</p>
<% } %>

<br>


  <br><br>
 
 


 </div>
</body>
</html>
