<html lang="en">
<head>

    <%- include('./partials/head.ejs')  %> 

    <%- include('./partials/nav.ejs')  %> 
</head>
<body>
  <h1>Velkommen til kategorier</h1>

  
  <div id="opskrift">her kommer api</div>
  <script src="mongoDB.js">  </script>
  
  <%- include('./partials/footer.ejs')  %> 
 
 
</body>
</html>
