<html lang="en">
<head>

    <%- include('./partials/head.ejs')  %> 
    <%- include('./partials/nav.ejs')  %> 

</head>
<body>
  <h1>Opskrifter</h1>


  
  <%- include('./partials/footer.ejs')  %> 
</body>
</html>